n8n-Templet/linkedin-post-genetor.json
{
  "name": "Linkedin Post Generator",
  "nodes": [
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    generated_post: $json.output\n  }\n}];\n"
      },
      "id": "a61900d5-3d3f-4e77-b020-4c1f7a159d2d",
      "name": "Extract Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brandme-input",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "32fb2298-bf4e-42a7-9654-2eb8b11990a1",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        -100
      ],
      "webhookId": "cd06583b-3cca-4616-8573-e9388f0208d8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "={{ \n  $json.category === \"education\" ? \n  `Create a motivational LinkedIn post about the following educational achievement for ${$json.name}: ${$json.topic}` :\n  $json.category === \"experience\" ?\n  `Write a professional LinkedIn post about ${$json.name}'s work experience: ${$json.topic}` :\n  $json.category === \"job_opportunity\" ?\n  `Craft a LinkedIn job update post for ${$json.name}: ${$json.topic}` :\n  `Write a LinkedIn post for ${$json.name} based on this: ${$json.topic}`\n}}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "65c3976d-f11d-43c8-88e0-2eb348b932a4",
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        -240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in professional communication and personal branding. Your task is to create an authentic, engaging, and impactful LinkedIn post.\n\nWrite a short LinkedIn post based on the following details:\n\n- 🗂️ Category: {{ $json.body.category }}\n- 🔍 Topic: {{ $json.body.topic }}\n\nInstructions:\n- Make the post sound like it’s written by a real person, not AI.\n- Use a conversational, confident, and inspiring tone.\n- Keep the post concise (under 200 words).\n- Start with a hook (question, bold statement, or relatable thought).\n- Add 1–2 key insights or actionable tips.\n- Close with a light call-to-action (e.g., “What do you think?”, “Drop your tips below!”).\n- Format with line breaks for readability.\n- Return only the post, no extra explanation or title.\n",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        60,
        -260
      ],
      "id": "cc20c198-a624-4c02-b5e8-b29a5229bef2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "e06e6a8e-8b84-4224-82db-be5aad848c03",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "inqoZ9QGE1ucIZ1d",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<div style=\"font-family: 'Segoe UI', sans-serif; color: #333; line-height: 1.6;\">\n  <h2>👋 Hey {{$json[\"name\"]}},</h2>\n  <p>Here's your ✨ <strong>ready-to-share LinkedIn post</strong> on <strong>{{$json[\"category\"]}}</strong>:</p>\n\n  <pre style=\"background: #f5f5f5; padding: 20px; border-radius: 10px; font-family: Consolas, monospace; font-size: 15px; border-left: 6px solid #0a66c2; white-space: pre-wrap;\">\n📝 {{$json[\"generated_post\"]}}\n  </pre>\n\n  <p style=\"margin-top: 20px;\">🚀 <strong>Pro Tip:</strong> Copy and paste this directly on LinkedIn. Add hashtags, a question to your audience, or tag people to boost engagement!</p>\n\n  <p style=\"margin-top: 30px;\">Cheers,<br><strong>🤖 LinkedPost AI</strong></p>\n</div>\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        620,
        -260
      ],
      "id": "9441e9d5-ff2f-4a77-9386-a99555ca0758",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e561b7a-653e-4cc5-9772-b01996b3139c",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "427b7306e84a0e419b65777caa956fb7fe509e54f73add83f2c0676173a7fde3"
  },
  "id": "O7FhU6NRo13XIljh",
  "tags": []
}
